body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 400px;
    height: 500px;
    border-radius: 10px;
}

#display {
    border: 1px solid black;
    width: 350px;
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    align-items: end;
    flex-direction: column-reverse;
    /* change px values to vh values for consistent designs */
    /*add display flex to display results in wherever you want*/
}

#buttons{
    margin: 0px 24px 0px 24px;
}

#result {
    font-size: 42px;
    position: fixed;
}
